@{
    ViewData["Title"] = "Home Page";
    Layout ="";
}

<h2>Giriş Yap</h2>

@if (ViewBag.Error != null)
{
    <div style="color: red;">@ViewBag.Error</div>
}

<form method="post" asp-action="Index" asp-controller="Home">
    <div>
        <label>Email : </label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Şifre : </label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Giriş Yap</button>
</form>
